
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
    {% extends "base.html" %}
    {% block body %}
        <h2>Welcome, {{user.username}}!</h2>
        {% for team in user.teams %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{team.team_name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Projects</h6>
                <p class="card-text">{{team.projects}}</p>
                </div>
            </div>
        {% endfor %}
        {% for project in user.teams.projects %}
            {{porject.project_name}}
        {% endfor %}
    {% endblock %}   
</body>
</html>
